
@import url('https://fonts.googleapis.com/css2?family=Kenia&family=League+Spartan:wght@100&family=Lobster&family=Montserrat&family=Orbitron&family=Poppins:wght@100;200;300&family=Roboto&family=Rubik&family=Rubik+Mono+One&family=Russo+One&family=Staatliches&family=VT323&family=Vina+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 0;
}




#navbar{
   background-color: black;
}
#logo{
    padding-left: 20px;
    width: 200px;
}

#navbar a{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: 200;
    border-bottom: 2px solid black;
}
#navbar a:hover{
    border-bottom: 2px solid white;
}

#navbar li{
    padding-right: 10vh;
}


#navbar .btn{
    background-color: white;
}




h1{
    font-size: 4rem;
    font-weight: 600;
}

h6{
    font-weight: 700;
}

h5{
    font-size: 2rem;
    font-weight: 600;
}

h2{
    font-size: 3rem;
    font-weight: 800;

}

#cookhero1{
    background-image: url('../public/assets/baby.jpg');
    background-size:cover;
}


.team .member{
    position: relative;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
}
.team .member .teampic{
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}
.team .member .memberinfo{
padding-left: 30px;
}
.team .member h4{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #f0425f;
}
.team .member span{
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.team .memberinfo p{
    margin: 10px 0 0 0;
    font-size: 14px;
    font-weight: 600;
    color: gray;
}

.team p{
    margin: 10px 0 0 0;
    font-size: 18px;
    font-weight: 600;
    color: rgb(70, 70, 70);
}

.phone{
  
   display: flex;
   align-items: center;
   justify-content: flex-start;
}



.newsletter{
    background-color: black;
    color: white;
}

.newsletter input{
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    color: white;
    background-color: transparent;
    margin-top: 20px;
    font-weight: 600;
}
.bttn{
    height: 44.5px;
    width: 100px;
    background-color: white;
    margin-left: -10px;
    margin-bottom: 5px;
    border: 1px solid white;
    font-weight: 600;
    border-radius: 0;
}
.footerlogo{
    margin-bottom: 10px;
    font-size: 2rem;
    color: white;
    font-family: 'Lobster', cursive;
}

.newsletter a{
    font-size: 1rem;
    margin: 0;
    color: white;
    text-decoration: none;
}

.fa-brands{
    font-size: 2rem;
    cursor: pointer;
    padding-right: 15px;
}
#btn3{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color:#f0425f;
    color: white;
    font-weight: 700;
    border-radius: 60px ;
}
#btn3:hover{
    background: white;
    border: 2px solid #f0425f;
    color:#f0425f;
    scale: 10vh;
}

.newsletter img{
    width: 200px;
}
body{
  background-color: #DDAD86;
}



#navbar{
 background-color: black;
}
#logo{
  padding-left: 20px;
  width: 200px;
}

#navbar a{
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 200;
  border-bottom: 2px solid black;
}
#navbar a:hover{
  border-bottom: 2px solid white;
}

#navbar li{
  padding-right: 10vh;
}


#navbar .btn{
  background-color: white;
}

.cookhero{
   width: 150vh;
   
}


h1{
  font-size: 4rem;
  font-weight: 600;
}

h6{
  font-weight: 700;
}

h5{
  font-size: 2rem;
  font-weight: 600;
}

h2{
  font-size: 3rem;
  font-weight: 800;

}

#cookhero{
  background-image: url('../public/assets/free-red-brick-wall-vector.jpg');
  background-size: contain;
}


.team .member{
  position: relative;
  padding: 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
}
.team .member .teampic{
  overflow: hidden;
  width: 180px;
  border-radius: 50%;
}
.team .member .memberinfo{
padding-left: 30px;
}
.team .member h4{
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #f0425f;
}
.team .member span{
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.team .memberinfo p{
  margin: 10px 0 0 0;
  font-size: 14px;
  font-weight: 600;
  color: gray;
}

.team p{
  margin: 10px 0 0 0;
  font-size: 18px;
  font-weight: 600;
  color: rgb(70, 70, 70);
}

.phone{

 display: flex;
 align-items: center;
 justify-content: flex-start;
}



.newsletter{
  background-color: black;
  color: white;
}

.newsletter input{
  height: 45px;
  width: 55%;
  border: 2px solid white;
  outline: none;
  color: white;
  background-color: transparent;
  margin-top: 20px;
  font-weight: 600;
}
.bttn{
  height: 44.5px;
  width: 100px;
  background-color: white;
  margin-left: -10px;
  margin-bottom: 5px;
  border: 1px solid white;
  font-weight: 600;
  border-radius: 0;
}
.footerlogo{
  margin-bottom: 10px;
  font-size: 2rem;
  color: white;
  font-family: 'Lobster', cursive;
}

.newsletter a{
  font-size: 1rem;
  margin: 0;
  color: white;
  text-decoration: none;
}

.fa-brands{
  font-size: 2rem;
  cursor: pointer;
  padding-right: 15px;
}
#btn3{
  height: 45px;
  width: 35%;
  border: none;
  outline: none;
  background-color:#f0425f;
  color: white;
  font-weight: 700;
  border-radius: 60px ;
}
#btn3:hover{
  background: white;
  border: 2px solid #f0425f;
  color:#f0425f;
  scale: 10vh;
}

.newsletter img{
  width: 200px;
}


#navbar1{
  background-color: #5885AF;
}
#logo{
  padding-left: 20px;
  width: 200px;
}

#navbar1 a{
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: 200;
  border-bottom: 2px solid #5885AF ;
}


#navbar1 a:hover{
  border-bottom: 2px solid white;
}

#navbar1 li{
  padding-right: 10vh;
}


#navbar1 .btn{
background-color: #f0425f;

}
.main{
 background-color: #5885AF;


}
.main h1{
  font-size: 5rem;
  font-weight: 570;
  font-family: 'Rubik Mono One', sans-serif;
  color: white;
 
}

#tree{
  width: 50vh;
}
#btn1{
 
  padding: 20px;
  border: none;
  outline: none;
  background-color: #f0425f;
  color: white;
  font-size: 28px;
  font-weight: 700;
  border-radius: 60px ;
  text-decoration: none;
}

#btn1:hover{
  border: 4px solid #f0425f;
  background-color: #5885AF;
 
}


#carro{
  background-color: #f0425f;
}

.card-body{
  background-color: #779bbe;
}
.card-body p{
  color: rgb(51, 50, 50);
  font-weight: 600;
}

#sec{
  background-color: #f0425f;
  color: white;
  border-radius: 8px;
}


.main img{
  width: 460px;
}
h1{
  font-size: 4rem;
  font-weight: 600;
}

h6{
  font-weight: 700;
}

h5{
  font-size: 2rem;
  font-weight: 600;
}

h2{
  font-size: 3rem;
  font-weight: 800;

}


.newsletter{
  background-color: black;
  color: white;
}

.newsletter input{
  height: 45px;
  width: 55%;
  border: 2px solid white;
  outline: none;
  color: white;
  background-color: transparent;
  margin-top: 20px;
  font-weight: 600;
}
.bttn{
  height: 44.5px;
  width: 100px;
  background-color: white;
  margin-left: -10px;
  margin-bottom: 5px;
  border: 1px solid white;
  font-weight: 600;
  border-radius: 0;
}
.footerlogo{
  margin-bottom: 10px;
  font-size: 2rem;
  color: white;
  font-family: 'Lobster', cursive;
}

.newsletter a{
  font-size: 1rem;
  margin: 0;
  color: white;
  text-decoration: none;
}

.fa-brands{
  font-size: 2rem;
  cursor: pointer;
  padding-right: 15px;
}
.features p{
  font-size: 20px;
}
.features img{
  width:550px;
}

#btn3{
  height: 45px;
  width: 35%;
  border: none;
  outline: none;
  background-color:#f0425f;
  color: white;
  font-weight: 700;
  border-radius: 60px ;
}
#btn3:hover{
  background: white;
  border: 2px solid #f0425f;
  color:#f0425f;
  scale: 10vh;
}

.newsletter img{
  width: 200px;
}

.study{
  background-color: #f0425f;
}

.study h1{
  font-weight: 800;
  color: white;
}
#btn2{
  background-color: white;
  border-radius: 60px;
  height: 55px;
  width: 65%;
  color: white;
  font-size: 20px;
  font-weight: 900;
  border: none;
}


#btn2:hover{
  color: white;
background: #f0425f;
border: 4px solid  white;
scale: 10vh;
}

#cookhero2{
    
  background-color: #955670;
}


.team .member{
   position: relative;
   padding: 30px;
   box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   background-color: #fff;
}
.team .member .teampic{
   overflow: hidden;
   width: 180px;
   border-radius: 50%;
}
.team .member .memberinfo{
padding-left: 30px;
}
.team .member h4{
   font-weight: 700;
   margin-bottom: 5px;
   font-size: 20px;
   color: #f0425f;
}
.team .member span{
   display: block;
   font-size: 15px;
   padding-bottom: 10px;
   position: relative;
   font-weight: 500;
}

.team .memberinfo p{
   margin: 10px 0 0 0;
   font-size: 14px;
   font-weight: 600;
   color: gray;
}

.team p{
   margin: 10px 0 0 0;
   font-size: 18px;
   font-weight: 600;
   color: rgb(70, 70, 70);
}

.phone{
 
  display: flex;
  align-items: center;
  justify-content: flex-start;
}



.newsletter{
   background-color: black;
   color: white;
}

.newsletter input{
   height: 45px;
   width: 55%;
   border: 2px solid white;
   outline: none;
   color: white;
   background-color: transparent;
   margin-top: 20px;
   font-weight: 600;
}
.bttn{
   height: 44.5px;
   width: 100px;
   background-color: white;
   margin-left: -10px;
   margin-bottom: 5px;
   border: 1px solid white;
   font-weight: 600;
   border-radius: 0;
}
.footerlogo{
   margin-bottom: 10px;
   font-size: 2rem;
   color: white;
   font-family: 'Lobster', cursive;
}

.newsletter a{
   font-size: 1rem;
   margin: 0;
   color: white;
   text-decoration: none;
}

.fa-brands{
   font-size: 2rem;
   cursor: pointer;
   padding-right: 15px;
}
#btn3{
   height: 45px;
   width: 35%;
   border: none;
   outline: none;
   background-color:#f0425f;
   color: white;
   font-weight: 700;
   border-radius: 60px ;
}
#btn3:hover{
   background: white;
   border: 2px solid #f0425f;
   color:#f0425f;
   scale: 10vh;
}

.newsletter img{
   width: 200px;
}




  @media only screen and (max-width:912px){

      .main h1{
          font-size: 3rem;
          font-weight: 400;
         
      }

      .features img{
          width: 300px;
      }

      #tree{
          width: 350px;
      }


      }
    @media only screen and (max-width:912px){
        h1{
            font-size: 3rem;
           
        }

        }